#appbounty #header {
	background: #fff url(../img/appbounty-bg.png) no-repeat;
	background-size: cover;
	box-shadow: none;
}

#header > div > h1 > svg {
	width: 300px;
}

#mobile-lp {
	margin: 70px auto 70px auto;
}

#mobile-lp h2 {
	text-align: center;
	color: #31363b;
	font-family: "Work Sans";
	line-height: 32px;
	font-size: 24px;
	font-weight: 600;
	margin: 30px 0 30px 0;
	padding: 0 15px;
}

#mobile-lp p {
	margin: 0 auto;
	text-align: center;
	max-width: 463px;
	color: #31363b;
	font-family: "Work Sans";
	line-height: 32px;
	font-size: 18px;
	font-weight: 200;
}

#mobile-lp img {
	float: right;
}


@media (min-width: 768px) {
	#header > div > h1 > svg {
		width: auto;
	}

	#mobile-lp {
		margin: 70px 0 0 20px;
	}

	#mobile-lp h2 {
		padding: 0; 
	}

	#mobile-lp h2, #mobile-lp p {
		width: auto;
		text-align: left;
		margin: 30px 0 0 0;
	}

	#mobile-lp img {
		margin: 0 -95px 0 0;
	}

	#appbounty .hero1 {
		padding: 75px 0 75px 0;
	}
}

@media (min-width: 992px) {
	#mobile-lp {
		margin: 70px auto 0 auto;
	}

	#mobile-lp img {
		margin: 0;
	}

	#mobile-lp h2 {
		margin: 30px 0 30px 0px;
	}

	#appbounty .hero1 {
		padding: 115px 0 75px 0;
	}
}

@media (min-width: 1200px) {

}